* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  padding: 20px;
  font-family: Montserrat;
}
main {
  display: flex;
  background-color: #ffffff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  
  width: 1120px;
  
}
.sidebar {
  width: 370px;
  background-color: #1e2939;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}
.whitepart {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}
.asideInfo h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.link {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.cont {
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
}
.skills {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.sk {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #ff6b08;
  margin-left: 15px;
}

.skillItem {
  color: #ffffff;
}
.generalInfo h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.generalInfo h1 {
  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: #000000;
}
.generalInfo p {
  width: 413px;
  height: 107px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  box-sizing: border-box;
}
.education {
  margin-top: 64px;
  margin-bottom: 52px;
  box-sizing: border-box;
}
.projects h3 {
  margin-bottom: 15px;
}
.projects li {
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.42px;
}
.project,
.tech1,
.tech2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  font-family: Montserrat;
}
ol {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}
h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.period {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.company {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ff6b08;
}
.work {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
}
.code {
  margin-top: 55px;
  margin-bottom: 22px;
}
.line {
  font-weight: 700;
  width: 1px;
  height: 14px;
  color: #000000;
}
code {
  font-size: 16px;
}
.footer {
  padding-left: 480px;
}
.footer li {
  padding: 20px;
  display: inline;
}
.logo {
  padding-top: 30px;
  width: 100px;
  height: 70px;
}
a {
color: #000000;
}
figcaption {
  padding-left: 30px;
  color: white;
}
